.gradient-custom {
    /* fallback for old browsers */
    background: #B08BBB;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(146, 100, 196), rgb(246, 247, 250));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(146, 100, 19), rgba(246, 247, 250))
    }